<div id="columns">
	<% dogs.sort(() => { return 0.5 - Math.random() }).forEach((dog) => { %>
		<a href="/dogs/<%= dog._id %>" >
			<figure>
				<img src="<%= dog.img %>">
				<figcaption><%= dog.name %></figcaption>
			</figure>
		</a>
	<% }) %>
</div>