<%- include('../partials/header') %>

	<div class="main-page-label">Puppy Love</div>

	<% if (user) { %>
		<%- include('../genPawsPageViews/setBreeding') %>
	<% } else { %>
		<%- include('../genPawsPageViews/loggedin') %>
	<% } %>

<%- include('../partials/footer') %>