<%- include('../partials/header') %>

	<div class="main-page-label">All Paws</div>
	<%- include('../genPawsPageViews/createDog') %>
	<%- include('../genPawsPageViews/viewAllDogs') %>

<%- include('../partials/footer') %>