<%- include('../partials/header') %>
<%- include('../partials/nav') %>

	<div class="main-page-label">Breed Information</div>

	<main>
    	<%- include('../genPawsPageViews/viewAllBreedInfo') %>
    </main>

<%- include('../partials/footer') %>