<%- include('../partials/header') %>

    <div class="main-page-label">Meet the General Pawsembly Crew!</div>

   	<%- include('../genPawsPageViews/viewAllUsers') %>

<%- include('../partials/footer') %>
