.ind-dog-info {
	width: 100%;
}

.ind-dog-title {
	letter-spacing: 10px;
	margin: 20px 0;
	text-align: center;
}

.ind-dog-name, .ind-dog-gender, .ind-dog-breed {
	font-size: 64px;
	display: inline-block;
}

.the-class {
	font-size: 48px;
	display: inline-block;
}

.health-val {
	display: inline-block;
}

.ind-dog-name, .ind-dog-breed {
	font-weight: bold;
}
.ind-dog-breed {
	font-style: italic;
}

.female {
	color: #FFC0CB;
}

.male {
	color: #0000FF;
}